<section class="menu">
    <h2>Menu</h2>
    <p>Carry Out: (734) 317-7699</p>
    <p>Specials and Random Meals Updated at the Carnival Daily!</p>

    <h3>Food</h3>
    <table>
        <tr>
            <td>Pizza by the slice</td>
        </tr>
        <tr>
            <td>Pizza: 16"</td>
        </tr>
        <tr>
            <td>3 Baja Fish Tacos </td>
        </tr>
        <tr>
            <td>Random Nachos... Whatever Jonny throws together!</td>
        </tr>
        <tr>
            <td>Braised Pork Taco</td>
        </tr>
        <tr>
            <td>Hickerbilly Nachos</td>
        </tr>
    </table>
    <h3>Ice Cream</h3>
    <table>
        <tr>
            <td>Ashby's Ice Cream: 1 Scoop </td>
        </tr>
        <tr>
            <td>Ashby's Ice Cream: Extra Scoops </td>
        </tr>
        <tr>
            <td>Root Beer Float</td>
        </tr>
    </table>
    <h3>Cold Coffee &amp; Tea</h3>
    <table>
        <tr>
            <td>Iced Chai Latte</td>
        </tr>
        <tr>
            <td>Iced Chai Especial</td>
        </tr>
        <tr>
            <td>Frappe Mocha</td>
        </tr>
        <tr>
            <td>Cold Coffe Especial</td>
        </tr>
        <tr>
            <td>Ice Cold Brew</td>
        </tr>
    </table>
    <h3>Fruit Drink</h3>
    <table>
        <tr>
            <td>Fruit Smoothie</td>
        </tr>
        <tr>
            <td>Frosty Lemonade</td>
        </tr>
    </table>
    <h3>Fizzy Drink</h3>
    <table>
        <tr>
            <td>Funny Pop</td>
        </tr>
        <tr>
            <td>Pop Pop</td>
        </tr>
    </table>
    <h3>Hot Coffee</h3>
    <table>
        <tr>
            <td>Trucker's Blend</td>
        </tr>
        <tr>
            <td>Coffee Club: New coffee rotated weekly</td>
        </tr>
    </table>
    <h3>Coming to the Carnival Soon...</h3>
    <table>
        <tr>
            <td>Funnel Cake</td>
            <td>Because who doesn't love Funnel Cake?</td>
        </tr>
        <tr>
            <td>Espresso</td>
            <td>The machine is down! We apologize for the incaffeinience.</td>
        </tr>
    </table>
</section>
